@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1225px)
	/**/
	.section
		max-width: 1000px

	.application_block
		width: 490px
		height: 290px
		span
			font-size: 20px

	.green-block
		font-size: 12px

	.task-block
		width: 720px

	.tasks
		width: 208px
		div
			font-size: 11px

	.tasks:nth-of-type(2)
		width: 502px


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	/**/


/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	/**/
	.main-menu
		display: none
	.header-menu__item
		transition: 1s
		display: block
		text-align: center
		background-color: $accent
		background-image: url(../img/pattern.png)
	.toggle-button
		text-align: center
		margin: auto
		font-size: 20px
		font-weight: bold
		text-align: center
		display: block
		cursor: pointer
		color: #fff
		&:after
			content: attr(data-open)
			display: block
	nav
		height: 100px

	label
		padding-top: 20px
		height: 60px
		width: 100px
		&:after
			height: 60px
			margin-left: -10px
	
	#menu-checkbox:checked + nav[role="navigation"] .main-menu
		display: block
		position: absolute
		top: 60px
		padding-top: 0px
		width: 100%
		margin: auto

	#menu-checkbox:checked + nav[role="navigation"] .toggle-button:after
		content: attr(data-close)
		cursor: pointer
	
	.bg-art_museum_render_1
		background-size: 480px
		height: 450px
		background-color: #ffffff
		background-image: none

	.slider-inscription
		padding-top: 30px
		padding-bottom: 30px
		width: 100%
		bottom: 0px
		line-height: 24px
		font-size: 17px
		p
			font-size: 15px
			margin-top: 0
		img
			margin-left: -24px
			height: auto
			top: 100px
			position: absolute
			z-index: -1

	.slider-text
		padding-top: 0

	.swiper-pagination-bullet
		width: 22px
		height: 8px
		bottom: 10px

	.container
		display: block
		max-width: 400px
		height: 200px
	
	.swiper-container
		width: 100%
		height: 250px

	.swiper-container-horizontal .swiper-container-android
		width: 100%
		height: 250px

	.swiper-button-next,
	.swiper-button-prev
		display: none

	.swiper-slide
		height: 100%
		img
			min-height: 250px
			height: auto
			width: 100%

	.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets
		width: 150px
		top: 100%

	.slider-shadow
		display: none
	
	.logo__info
		margin: auto
		width: 90%
		img
			width: 100%
			height: auto

	.logo_2
		padding-top: 40px

	.social-media-info
		width: 100%
		.info__contacts
			font-size: 15px
			text-align: center
		.search
			margin: auto
			width: 90%
			form
				margin: auto
				width: 90%
			input[type="text"]
				width: 85%

	.section h1
		height: 50px
		font-size: 16px

	.video
		width: 100%

	iframe
		width: 100%
		height: 315px

	.text-content
		width: 100%

	.read-more_button
		width: 90%
		

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

